.dropdown_box{
    width: 100%;
    padding: 0 0 6px 0;
}
.dropdown_header{
    display: inline-block;
    width: 100%;
    padding: 10px 0 2px 0;
    vertical-align: middle;
    background-color: red;
    color: white;
    cursor: pointer;
}
.dropDown_selected{
    margin: 0 0 0 14px;
}
.dropdown_items{
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 4px 0;
    vertical-align: middle;
    text-align: center;
    background-color: #eee;
    cursor: pointer;
}
.dropdown_item{
    padding: 6px;
}
.dropdown_item:hover{
    background-color: #ccc;
    color:white;
}
.arrow_icon_down{
    font-size: 22px;
    float: right;
    /* margin: 0 6px 6px 0; */
    padding: 0 6px 8px 0;
}
.arrow_icon_up{
    font-size: 22px;
    float: right;
    /* margin: 6px 6px 0 0; */
    padding: 0 6px 8px 0;
}
