
.cart_item{
    text-align: left;
    font-size: 12px;
    border-bottom: 1px solid #eee;
    padding-bottom: 4px;
}
.cart_item_quantity{
    float: left;
    padding: 0 6px 0 0;
}
.cart__item_category{
    display: inline;
    margin-left: 2px;
    margin-right: 4px;
}
.cart_item_price{
    float: right;
    margin-right: 0;
}
.cart_item_size{
    margin-left: 6px;
}
h4{
    margin: 10px 0;
}
.order_button{
    width: 100%;
    display: inline-block;
    border: none;
    background-color: #bf1e2d;
    color: white;
    padding: 10px 0;
    margin: 6px 0 0 0;
    font-size: 14px;
}
.order_btn_link{
    color: white;
    text-decoration: none;
}
.order_button:hover,
.order_button:active{
    background-color: #921a1a;
}
textarea{
    resize: none;
}
@media (min-width: 650px) {
    .cart_item_price{
        margin: 0;
    }
    .cart_item_name{
        margin-left: 0;
    }
}