.Toolbar {
    height: 50px;
    width: 100%;
    /* padding: 0; */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #bf1e2d;
    border-bottom: 4px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */
    /* box-sizing: border-box; */
    z-index: 90;
}
.Toolbar nav{
    height: 100%;
}
.phone{
    color: white;
    padding: 8px;
}
@media(max-width: 499px){

}

