.app_box_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.app_box {
    margin: 15px;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}
@media (min-width: 600px) {
    .app_box_container{
        flex-wrap: nowrap;
    }
    .app_box {
        width: 500px;
    }
}