.Logo{
    /* background-color: white; */
    padding: 8px;
    height: 70%;
    width: 50%;
    margin-left: 34%;
}
@media (min-width: 600px) {
    .Logo {
        width: 50%;
        height: 70%;
        margin-left: 34%;
    }
}