.NavigationItem{
    margin: 0 0;
    display: flex;
    width: auto;
    padding: 0;
    font-size: 12px;
    position: relative;
}

.NavigationItem a{
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
}
.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    background-color:#921a1a;
    border-bottom: 4px solid white;
    color: white;
}

@media(min-width: 500px){
    .NavigationItem{
        margin: 0;
        padding: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationItem a{
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active{
        background-color:#921a1a;
        border-bottom: 4px solid white;
        color: white;
    }
}