.add_new_button{
    color: white;
    cursor: pointer;
    margin: 20px auto;
    width: 80%;
    text-align: center;
    /* box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee; */
    /* padding: 6px; */
    box-sizing: border-box;
}
.open{
    background-color: #14783c;
}
.close{
    background-color: #be1e2c;
}
.menu_container{
    margin: 0;
    position: relative;
    text-align: center;
}
.menu_sale{
    display: none;
    position: fixed;
    top: 56px;
    left: 0;
    /* background-color: blue; */
    width: 20%;
    margin-left: 10px;
    /* box-shadow: 0 2px 3px #ccc; */
    border: 1px solid #eee;
    padding: 6px;
    /* box-sizing: border-box; */
}
.menu_cart{
    display: none; 
    position: fixed;
    top: 56px;
    right: 0;
    /* background-color: green; */
    width: 20%;
    margin-right: 10px;
    /* box-shadow: 0 2px 3px #ccc; */
    border: 1px solid #eee;
    padding: 6px;
    /* box-sizing: border-box; */
    overflow-y:scroll;
    overflow-x:hidden;
}
.menu_list_bg{
    background-image: url('../../assets/images/pizza_bg.jpg');
    background-position: center; 
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 0 20px 0;
    margin: 0 0 6px 0;
    text-align: center;
}
.menu_list_bg .logo{
    text-align: center;
}
.menu_list{
    /* flex-grow: 3; */
    /* margin: auto; */
    width: 95%;
    text-align: center;
    /* box-shadow: 0 2px 3px #ccc; */
    border: 1px solid #eee;
    padding: 6px;
    /* box-sizing: border-box; */
    position: relative;
    left: 0;
    /* background-color: white; */
}
.menu_list h1{
    color: white;
    /* padding: 10px 6px 0 6px; */
    font-weight: 200;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0 6px;
}
.menu_category div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 0 18px;
}
.menu_category div h2{
    padding: 0 8px 0 18px;
    flex-grow: 2;
    text-align: left;
}

.menu_parent_category li:nth-child(odd) div{
    background-color: #be1e2c;
}
.menu_parent_category li:nth-child(even) div{
    background-color: #14783c;
}
.menu_category div small{
    margin: 10px 16px;
    font-size: 16px;
}
.menu_items{
    /* box-shadow: 0 1px 1px #ccc; */
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    padding: 0 0 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.menu_items h4{
    margin: 14px 10px;
}
.menu_items p{
    font-size: 14px;
    flex-grow: 2;
}
.menu_items small{
    margin: 10px 10px;
    padding: 6px;
    color: grey;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
}

.menu_items small:hover{
    background-color: #be1e2c;
    color: white;
    border: 1px solid #be1e2c;
}


@media (min-width: 1000px) {
    .add_new_button {
        width: 300px;
    }
    .menu_list{
        width: 50%;
        /* left: 22%; */
        margin: auto;
        /* flex-grow: 0; */
    }
    .menu_cart{
        /* flex-grow: 2; */
        display: inline-block;
    }
    .menu_sale{
        /* flex-grow: 2; */
        display: inline-block;
    }
    
}