.check_cart_list{
        /* flex-grow: 3; */
    /* margin: auto; */
    width: 95%;
    text-align: center;
    /* box-shadow: 0 2px 3px #ccc; */
    border: 1px solid #eee;
    padding: 6px;
    /* box-sizing: border-box; */
    position: relative;
    left: 0;
    /* background-color: white; */
}

@media (min-width: 650px) {
    .check_cart_list{
        width: 50%;
        /* left: 22%; */
        margin: auto;
        /* flex-grow: 0; */
    }
}