.NavigationItems{
    margin: 0;
    padding: 0 20px 0 0;
    list-style: none;
    display: flex;
    /* align-items: center; */
    height: 100%;
    /* background-color: red; */
    /* flex-flow: column; */
}
.basket{
    font-size: 18px;
}
.totalItems{
    top: 3px;
    right: 6px;
    z-index: 4;
    position: absolute;
    font-size: 12px;
}
@media(min-width:500px){
    .NavigationItems{
        flex-flow: row;
    }
}