@font-face {
  font-family: 'hot-pizza';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/hot-pizza/hotpizza.eot');
  src: url('../src/assets/fonts/hot-pizza/hotpizza.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/fonts/hot-pizza/hotpizza.woff2') format('woff2'),
      url('../src/assets/fonts/hot-pizza/hotpizza.woff') format('woff'),
      url('../src/assets/fonts/hot-pizza/hotpizza.ttf') format('truetype'),
      url('../src/assets/fonts/hot-pizza/hotpizza.otf') format('opentype'),
      url('../src/assets/fonts/hot-pizza/hotpizza.svg') format('svg');
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1, h2, h3{
  font-family: 'hot-pizza';
  font-weight: 300;
}
button{
  outline: none;
}
button:focus{
  outline: none;
}